<p>login works!</p>
<div class="container">
    <div class="container-fluid">
        <h1 class="title">
            Welcome to "AWS" online library
        </h1>
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Log in into your account</h3>
                <p class="card-text">
                    Enter your username:
                </p>
                <input mat-input type="text" class="input-username" id="username" placeholder="Username">
                <p class="card-text">
                    Enter your password:
                </p>
                <input mat-input type="text" id="password" placeholder="Password">
            </div>
            <button (click)="login()">Log in</button>
            <button>Sign up</button>
        </div>
    </div>
</div>